{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}

{% block body %}

{% if user.is_authenticated %}
<div id="createPost-view" class="border">
    <form id="createPost-form" class="m-2">
        <div class="form-group">
            {% csrf_token %}
            <label>Create new post</label>
            <textarea class="form-control" id="createPost-content"></textarea>
            <input type="submit" id="createPost-submit" class="btn btn-primary mt-2" value="Submit"/>
        </div>
    </form>
</div>
{% endif %}
<div id="postHeader" class="bg-primary text-center border-top border-bottom border-light text-light">Latest Posts</div>
<div id="listPosts-view" class="border">

</div>    


{% endblock %}

